* {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

em {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.container-fluid {
  width: 100%;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

/* .header_menu_main_row {
  padding: 0px 15px;
} */
.header_menu_main {
  position: sticky;
  z-index: 1;
  left: 0px;
  right: 0px;
  /* left: 15%; */
  background-color: #fff;
  margin: 0 auto;
  top: 0px;
}

.nav-item-mobile {
  width: 100%;
}

.sidebar_mobile {
  display: none;
  position: fixed;
  opacity: 0;
  top: 0px;
  /* z-index: 3; */
  transition: 1s;
}

.sidebar_mobile_show {
  z-index: 3;
  opacity: 1;
  transition: 1s;
}

.nav_close {
  width: 60%;
  height: 100vh;
}

.nav_menu_mobile {
  height: 100vh;
  display: inline-block;
  background-color: #54ba46;
  overflow-y: scroll;
  overflow-x: scroll;
  padding: 0px 0px 0px 10px;
}

.nav_menu_mobile li {
  float: right;
}

.logo_header a img {
  text-align: center;
  height: 80px;
}

.logo_header {
  text-align: left;
  padding: 0px;
}

.container {
  padding: 0px;
  /* padding-top: 50px; */
}

.row {
  margin: 0px;
}

.nav-link {
  line-height: 50px;
  padding: 0px 15px;
  color: #fff;
}

.nav-link:hover {
  color: #fff;
}

.nav_menu {
  padding: 0px;
  padding-top: 30px;
  width: 100%;
  /* background-color: #54ba46; */
}

.nav_menu ul li a i {
  font-size: 20px;
}

.nav-item {
  /* padding: 0px 15px; */
  background-color: #54ba46;
  border: 1px solid #ccc;
  border: 0px;
}

.nav_menu_ul {
  float: right;
}

.nav-item:hover {
  background-color: #54ba46d1;
}

.nav-item-clone-mobile {
  width: 100%;
  list-style: none;
  height: auto;
  display: none;
}

.nav-item-clone-mobile_show {
  display: inline-block;
}

.nav-item-clone-mobile li {
  width: 90%;
  font-size: 14px;
}

.nav-item-clone-mobile li a {
  color: #fff;
  font-size: 11px;
}

.close_menu_mb {
  float: right;
  padding: 0px;
  width: 30px;
  height: 30px;
  border: 0px;
  background-color: #54ba46;
}

.close_menu_mb i {
  font-size: 30px;
  color: red;
}

.nav-link-mobile:hover {
  color: #fff;
}

.nav-link-mobile {
  display: inline-block;
  color: #fff;
  line-height: 35px;
  width: 100%;
}

.nav-item-clone {
  position: absolute;
  list-style: none;
  width: 145px;
  padding: 0px;
  display: none;
  border: 1px solid #ccc;
  background-color: #54ba46d1;
  z-index: 2;
}

.nav-item-clone a {
  width: 100%;
  display: inline-block;
  color: #fff;
  line-height: 40px;
}

.nav-item-clone {
  width: auto;
}

.nav-item-clone a:hover {
  color: #54ba46;
}

.nav-item-clone li:hover {
  background-color: #fff;
}

.nav-item-clone li:hover .nav-item-clone li a {
  background-color: #000;
}

.nav-item-clone li {
  border-bottom: 1px solid #ccc;
  height: 40px;
}

.nav-item-clone li a {
  line-height: 40px;
  padding: 0 10px;
}

.nav-item:hover .nav-item-clone {
  display: inline-block;
}

.video_banner {
  position: relative;
  height: 700px;
  overflow: hidden;
  /* top: 52px; */
}

#video_banner {
  position: absolute;
  z-index: -99999;
  width: 100%;
  /* height: 700px; */
  max-width: 100%;
}

.content_banner {
  position: absolute;
  color: #f1f1f1;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  padding-top: 28%;
}

.content_banner div p {
  font-size: 21px;
  text-shadow: 1px 1px 2px #000;
  font-weight: 600;
}

.content_banner div h2 {
  text-shadow: 1px 1px 2px #000;
  font-weight: 600;
  font-size: 2.3rem;
}

#btn_banner {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  font-size: 14px;
  padding: 5px;
  border: none;
  background: #54ba46;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

#btn_banner:hover {
  background: #ddd;
  color: black;
}
.nav_dbtn_header {
  width: 100%;
  text-align: right;
  height: 100%;
  display: none;
}
.table_user{
  border: 1px solid #000;
  margin: 0 auto;
  margin-bottom: 9px;
}
.table_user thead tr td{
  padding: 5px;
  text-align: center;
}
.table_user tbody tr td {
  padding: 5px;
  text-align: center;
}
.nav_btn_header {
  height: 100%;
  display: none;
  background-color: #54ba46;
  border: 1px solid red;
}

.nav_btn_header i {
  font-size: 20px;
}

.main_news {
  padding-top: 40px;
}

.main_news span sup {
  font-size: 13px;
}

.main_news h2 {
  display: inline-block;
}

.main_news p {
  text-align: justify;
  padding-left: 10px;
}

.main_news p a {
  color: #006dc0;
}

.main_news hr {
  border: 3px solid #54ba46;
  width: 115px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.news_clone {
  padding-left: 30px;
}

.main_fields {
  background-color: #ccc;
}

.main_firlds_clone div {
  background-color: #fff;
}

.main_firlds_clone div p {
  text-align: justify;
}

.main_firlds_clone div a img {
  width: 100%;
  height: 230px;
}

.main_firlds_clone div h5 {
  text-align: center;
  font-weight: 600;
  margin-top: 5px;
}

.main_firlds_clone div p {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: #111;
  width: 100%;
  padding: 10px;
  height: 75px;
}

.addmore {
  display: inline-block;
  width: 90px;
  line-height: 25px;
}

.main_firlds_clone div p:hover {
  -webkit-line-clamp: 999;
  height: auto;
}

.show_profile_mngm_o {
  background-color: #ccc;
  padding: 40px;
  display: none;
}

.profile_show_btn {
  text-align: right;
}

.profile_show_btn button {
  border: 0px;
  background-color: #54ba46;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  height: 30px;
  width: 100px;
}

.show_profile_mngm_img_o img {
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
}

.text_profile_0 {
  height: 135px;
  padding-right: 50px;
  overflow: hidden;
  overflow-y: scroll;
  text-align: justify;
}

.text_profile {
  height: 170px;
  padding-right: 50px;
  overflow: hidden;
  overflow-y: scroll;
  text-align: justify;
}

.profile_mngm_close {
  width: 100%;
  text-align: right;
}

.text_profile_0_name {
  font-size: 1.25rem;
  font-weight: 600;
}

.text_profile_0 em {
  font-size: 1rem;
  font-weight: 600;
}

.show_profile_mngm div img {
  width: 100%;
}

.show_profile_mngm {
  background-color: #ccc;
  padding: 50px;
  display: none;
}

.show_profile_mngm_img img {
  border-radius: 50%;
  overflow: hidden;
}

.all_mngm {
  margin-top: 20px;
}

.all_mngm div {
  margin-top: 10px;
}

.all_mngm div div {
  text-align: center;
}

.all_mngm div div img {
  width: 150px;
  height: 150px;
}

.all_mngm div div em {
  font-size: 11px;
}

.footer {
  background-color: #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ft_news {
  border-bottom: 2px solid #a0a0a0;
}

.ft_new_text {
  position: absolute;
  background-color: #0000006b;
  width: 93%;
  bottom: 10px;
}

.ft_new_text span {
  /* font-size: 11px; */
  font-weight: 600;
  color: #fff;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width: 100%;
  height: 25px;
}

.ft_news_tt {
  color: #54ba46;
  margin-top: 20px;
}

.ft_new_text p {
  color: #fff;
  margin-bottom: 0px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width: 100%;
  height: 40px;
}

.ft_new_text p:hover {
  -webkit-line-clamp: 999;
  height: auto;
}

.ft_news div h2 {
  display: inline-block;
  width: 100%;
}

.ft_news_clone {
  position: relative;
  padding: 10px;
  height: 220px;
  margin-bottom: 45px;
}

.ft_news_clone div {
  position: absolute;
}

.ft_news_clone a img {
  width: 100%;
  height: 200px;
}

.ft_inf {
  padding-top: 10px;
}

.ft_inf p {
  text-align: justify;
}

.ft_inf img {
  width: 108px;
}

.ft_cont {
  padding-top: 10px;
}

.ft_cont h2 {
  color: #54ba46;
  margin-top: 10px;
  margin-bottom: 0.5rem;
}

.ft_cont p {
  display: inline-block;
  /* margin-top: 10px; */
  width: 100%;
  margin-bottom: 0.5rem;
}

.ft_cont p em {
  display: block;
  width: 90%;
  margin-left: 30px;
}

.ft_cont p i {
  float: left;
  display: block;
  font-size: 15px;
  width: 15px;
}

.ft_contact {
  border-bottom: 2px solid #a0a0a0;
  margin-bottom: 14px;
}

.ft_btm a {
  display: inline-block;
  margin-right: 20px;
  line-height: 45px;
}

.ft_btm_icon button {
  border: 1px solid #54ba46;
  padding: 5px;
  background-color: #ccc0;
}

.ft_btm_icon_c {
  font-size: 30px;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.ft_btm_icon_c_tt {
  color: #26b9f6;
}

.ft_btm_icon_c_yt {
  color: red;
}

.ft_btm_icon_c_fb {
  color: #304e8a;
}

.ft_btm_icon_c_ig {
  color: #006dc0;
}

.bntdwn {
  width: 100%;
  text-align: center;
}

.bntdwn button {
  background-color: #006dc0;
  width: 150px;
  border: 0px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.bntdwn a {
  line-height: 40px;
  color: #fff;
  font-weight: 600;
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 100%;
  }

  .container-fluid {
    width: 100%;
  }

  .video_banner {
    height: 570px;
  }
}

@media only screen and (max-width: 1010px) {
  .container-fluid {
    width: 100%;
  }

  .logo_header a img {
    height: 80px;
  }

  .nav-link {
    line-height: 50px;
  }

  .video_banner {
    height: 450px;
  }
}

.main_news_duib {
  margin: 0px;
}

.ft_sayhelo h2 {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-top: 20px;
  color: #54ba46;
}

.ipt {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 10px;
  border: 1px solid #54ba46;
}

.ft_sayhelo textarea {
  padding-left: 10px;
  height: 100px;
  width: 100%;
  border: 1px solid #54ba46;
}

.sub {
  height: 30px;
  width: 100px;
  border: 0px;
  background-color: #54ba46;
  border-radius: 10px;
  float: right;
  color: #fff;
  margin-bottom: 10px;
}

.sub_profile {
  height: 30px;
  width: 100px;
  border: 0px;
  background-color: #54ba46;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 40px;
}

.profile_btn {
  text-align: center;
}

.profile_btn button a {
  color: #fff;
  font-size: 12px;
  line-height: 30px;
}

.ft_ft {
  clear: right;
}

.privacy {
  margin-top: 60px;
}

.privacy p {
  padding-left: 15px;
  text-align: justify;
}

.privacy_h1 {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #54ba46;
  text-transform: uppercase;
  -moz-text-transform: uppercase;
  -webkit-text-transform: uppercase;
  -o-text-transform: uppercase;
}


@media only screen and (max-width: 768px) {

  .container-fluid {
    width: 100%;
  }
}

@media only screen and (max-width: 784px) {

  .container-fluid {
    width: 100%;
  }

  .show_profile_mngm_img img {
    width: 150px;
  }

  .nav-link {
    line-height: 50px;
  }

  .video_banner {
    height: 360px;
  }

  .show_profile_mngm_img {
    padding-top: 0px;
  }
}

@media only screen and (max-width: 635px) {
  .nav_menu_ul {
    display: none;
  }

  .nav_dbtn_header {
    display: inline-block;
  }

  .header_menu_main {
    left: 0;
  }

  .container-fluid {
    width: 100%;
  }

  .logo_header {
    text-align: center;
  }

  .nav_btn_header {
    display: inline-block;
  }

  .video_banner {
    display: none;
  }

  .sidebar_mobile {
    display: inline-block;
  }
}

@media only screen and (max-width: 576px) {
  .logo_header {
    text-align: center;
  }

  .text_profile_0_name,
  #posc_mngm,
  #pos_mngm {
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  .text_profile_0 {
    padding-right: 0px;
  }

  .text_profile {
    padding-right: 0px;
  }

  .nav-link {
    line-height: 50px;
  }

  .show_profile_mngm_img {
    padding: 0px;
  }
}